<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./" type="image/x-icon">
  <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
  <title>Serenatto</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/bootstrap/css/texto.css">
  <link rel="stylesheet" href="../static/bootstrap/css/contato.css">
  <link rel="stylesheet" href="../static/bootstrap/css/social-media.css">
  <link rel="stylesheet" href="../static/bootstrap/css/banner.css">
  <link rel="stylesheet" href="../static/bootstrap/css/botoes.css">
  <link rel="stylesheet" href="../static/bootstrap/css/curriculo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@400;600&display=swap"
    rel="stylesheet">
</head>

<body>

  <header>
    <div class="container-fluid distancia d-flex justify-content-center align-items-center">
      <a class="navbar-brand">
        <img src="../static/bootstrap/img/logo_branca.png" width="280" height="260" alt="Logo de Leonardo GYM">
      </a>

      <nav class="navbar-expand-lg navbar cor-de-fundo fixed-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../static/bootstrap/img/logo_branca.png"
                width="200px" alt="Logo de Leonardo GYM"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#planos">Planos</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Projetos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="https://www.threads.net/@leonardoalves_05" target="_blank">Primeiro projeto</a></li>
                  <li><a class="dropdown-item" href="#">Em breve</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="https://www.threads.net/@leonardoalves_05">Threads, onde posto os projetos</a></li>
                </ul>

                

              <li class="nav-item">
                <a class="nav-link" href="#curriculo">Curriculo</a>
              </li>

              

              <li class="nav-item">
                <a class="nav-link" href="#contato">Contato</a>
              </li>

              
          

<!-- 
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Modo Noturno</label>
                  </div>
                </a>
              </li> -->
            </li>
          </ul>
          </div>
        </div>
    </div>
    </nav>
  </header>

  <main>
    <section class="banners banner-1 d-flex flex-column justify-content-center text-center">
      <div class="banners-titulo py-5">
        <p>Boas-vindas ao Leonardo GYM! Um ambiente aconchegante e acolhedor para você assinar o plano que deseja, ou
          conhecer um pouco sobre mim.</p>
        <p>Eu sou</p>
        <h2 class="fw-bold">Leonardo Henrique Alves</h2>
        <div id="text-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
              <h2 class="text-edit text-center">Preparador Físico</h2>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <h2 class="text-edit text-center">Personal Trainer</h2>
            </div>
            <div class="carousel-item" data-bs-interval="2500">
              <h2 class="text-edit text-center">Especialista em Saúde</h2>
            </div>
          </div>
        </div>
        <div class="social_media-1">
          <a href="https://www.threads.net/@leonardoalves_05" target="_blank" class="btn btn-threads mt-10"> Acesse o
            meu
            Threads</a>
        </div>
        <div class="social_media-1 social-media fundo-botao">
          <a href="https://www.instagram.com/leonardoalves_05/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/leonardo-alves-003404283/" target="_blank"><i
              class="bi bi-linkedin"></i></a>
        </div>


    </section>

    <section class="container mt-5" id='sobre'>
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <div class="banners-titulo bg-body-secondary text-center py-5">
            <h2 class="pt-3 fw-bold titulo-azul">Sobre</h2>
          </div>

          <p>Sou estudante de Educação Física – Bacharelado, especializado em musculação e treinamento físico
            personalizado e tenho investido tempo e dedicação em diversos cursos voltados para o nicho de musculação.
            Desenvolvo projetos pessoais e posto minhas nas redes sociais.</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/bootstrap/img/foto-do-leo-porfolio.png" alt="Foto do Thiago"
            data-anime="left">
        </div>
        <div class="col-md-8" data-anime="right">
          <h3>Educador Físico</h3>
          <p>Atualmente estou no primeiro semestre da faculdade, faços cursos focados em hípertrofia.</p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter">23 de Março de
                    2005</span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">18 anos</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">São Lourenço</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter"> Minas Gerais</span>
                </li>

              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">Hobby: <span class="fw-lighter">a Academia, jogar, escutar músicas</span>
                </li>
                <li class="list-group-item">Site: <a href="https://thicode.netlify.app/" target="_blank"
                    class="fw-lighter text-decoration-none link-dark">?</a></li>
                <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/" target="_blank"
                    class="fw-lighter text-decoration-none link-dark">Aberto á propostas </a></li>
                <li class="list-group-item">Experiência: <span class="fw-lighter"> Apenas em Projetos</span></li>

              </ul>
            </div>
          </div>

          <p>Busco um estágio remunerado na área de Educação Física, visando aplicar meus conhecimentos acadêmicos e
            habilidades em projetos de pesquisa científica e trabalhos práticos.</p>

        </div>
      </div>
    </section>


    <section>
      <div class="container d-flex justify-content-around flex-wrap">

        <div class="card m-4" style="width: 20rem;">
          <div class="card-icon text-center py-3">
            <i class="bi bi-star-fill text-primary" style="font-size: 3rem;"></i>
          </div>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title py-2 fw-bold text-center">Preparador Físico</h5>
            <p class="card-text">Desenvolvo atividades físicas e ensino técnicas desportivas para melhorar o desempenho
              físico das pessoas.</p>
            <a href="#planos" class="btn botao-padrao fw-bold mt-auto">Conheça nossos planos</a>
          </div>
        </div>

        <div class="card m-4" style="width: 20rem;">
          <div class="card-icon text-center py-3">
            <i class="bi bi-star-fill text-primary" style="font-size: 3rem;"></i>
          </div>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title py-2 fw-bold text-center">Personal Trainer</h5>
            <p class="card-text">Atuo com meus clientes, de forma individualizada, elaborando e supervisionando
              treinamentos físicos específicos para cada um.</p>
            <a href="#planos" class="btn botao-padrao fw-bold mt-auto">Conheça nossos planos</a>
          </div>
        </div>

        <div class="card m-4" style="width: 20rem;">
          <div class="card-icon text-center py-3">
            <i class="bi bi-star-fill text-primary" style="font-size: 3rem;"></i>
          </div>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title py-2 fw-bold text-center">Especialista em Saúde</h5>
            <p class="card-text">Sou um profissional com passagem em várias áreas acadêmicas voltadas principalmente
              para hipertrófia de acordo com as necessidades.</p>
            <a href="#planos" class="btn botao-padrao fw-bold mt-auto">Conheça nossos planos</a>
          </div>
        </div>
      </div>
    </section>

    <section data-anime="right">
      <div class="container mt-5">
        <div class="row text-center">
          <div class="banners-titulo bg-body-secondary text-center py-5">
            <h2 class="pt-3 fw-bold titulo-azul">Sobre nossos planos</h2>
          </div>
          <div class="col-md-4 py-3">
            <div class="circle">1</div>
            <h3>Início da Jornada</h3>
            <p>Escolha um dos nossos planos e dê início à sua jornada de transformação </p>
          </div>
          <div class="col-md-4 py-3">
            <div class="circle">2</div>
            <h3>Sua Avaliação Detalhada</h3>
            <p>Enviaremos um formulário em que você irá compartilhar conosco suas características físicas, preferências
              pessoais, objetivos e padrões comportamentais.</p>
          </div>
          <div class="col-md-4 py-3 py-3">
            <div class="circle">3</div>
            <h3>Análise e Estratégias</h3>
            <p>Dedicão a analisar minuciosamente suas informações, traçando estratégias personalizadas para alcançar com
              sucesso seus objetivos.</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 py-3">
            <div class="circle">4</div>
            <h3>Orientações Direcionadas</h3>
            <p>Receba orientações essenciais por meio de um vídeo especialmente gravado pelo seu Personal Trainer
              (Leonardo). O vídeo abrangerá tanto aspectos nutricionais quanto detalhes sobre o programa de treinamento
              do mês.</p>
          </div>
          <div class="col-md-4 py-3">
            <div class="circle">5</div>
            <h3>Dominando os Exercícios</h3>
            <p>Aprenda a executar cada exercício de forma eficaz com vídeos didáticos sob medida, adaptados para se
              encaixarem perfeitamente na sua rotina.</p>
          </div>
          <div class="col-md-4 py-3">
            <div class="circle">6</div>
            <h3>Acompanhamento e Ajustes</h3>
            <p>Mantenha contato direto com o seu Personal Trainer e garanta que a sua rotina permaneça otimizada ao
              longo do mês. Através de pequenos ajustes, com base no seu progresso e histórico, aprimoraremos
              constantemente o seu plano.</p>
          </div>
        </div>
      </div>

    </section>

    <section class="container mt-5" id='planos'>
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <div class="banners-titulo bg-body-secondary text-center py-5">
            <h2 class="pt-3 fw-bold titulo-azul">Planos Disponíveis</h2>
          </div>
          <div class="container d-flex justify-content-around flex-wrap">
            <div class="card m-4" style="width: 50rem; height: 21rem;">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h3 class="card-title py-2 fw-bold text-center">Personal Trainer</h3>
                <h4 class="card-text text-center">Plano Mensal</h4>
                <h5 class="card-text text-center">Apenas</h5>
                <h3 class="h3-diminuir">R$<span class="h3-aumentar">80</span></h3>
                <h6>Mensal</h6>
                <div class="divider"></div>
                <a href="https://api.whatsapp.com/send?phone=553588577680&text=Bom%20dia,%20gostaria%20de%20comprar%20o%20plano%20semestral%20de%20personal%20trainer."
                  target="_blank" class="btn-edit btn botao-padrao w-50 fw-bold mt-auto">Assinar</a>
              </div>
            </div>
          </div>

          <div class="container d-flex justify-content-around flex-wrap">
            <div class="card m-4" style="width: 50rem; height: 21rem;">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h3 class="card-title py-2 fw-bold text-center">Personal Trainer</h3>
                <h4 class="card-text text-center">Plano Trimestral</h4>
                <h6>De 80 por</h6>
                <h3 class="h3-diminuir">R$<span class="h3-aumentar">70</span></h3>
                <h6>Mensal</h6>
                <div class="divider"></div>
                <a href="https://api.whatsapp.com/send?phone=553588577680&text=Bom%20dia,%20gostaria%20de%20comprar%20o%20plano%20trimestral%20de%20personal%20trainer."
                  target="_blank" class="btn-edit btn botao-padrao w-50 fw-bold mt-auto">Assinar</a>
              </div>
            </div>
          </div>

          <div class="container d-flex justify-content-around flex-wrap">
            <div class="card m-4" style="width: 50rem; height: 21rem;">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <h3 class="card-title py-2 fw-bold text-center">Personal Trainer</h3>
                <h4 class="card-text text-center">Plano Semestral</h4>
                <h6>De 80 por</h6>
                <h3 class="h3-diminuir">R$<span class="h3-aumentar">55</span></h3>
                <h6>Mensal</h6>
                <div class="divider"></div>
                <a href="https://api.whatsapp.com/send?phone=553588577680&text=Bom%20dia,%20gostaria%20de%20comprar%20o%20plano%20mensal%20de%20personal%20trainer."
                  target="_blank" class="btn-edit btn botao-padrao w-50 fw-bold mt-auto">Assinar</a>
              </div>
            </div>
          </div>

    </section>



    <section class="mt-5 cv" id="curriculo">
      <div class="container pb-5">
        <div class="banners-titulo bg-body-secondary text-center">
          <h2 class="pt-3 pb-4 titulo-azul">Currículo</h2>
        </div>


        <div class="row">
          <div class="col-md-6">
            <h3 class="cv-title">Educação</h3>

            <div class='cv-item' data-anime="up">
              <h4>Bacharelado em Educação Física</h4>
              <h5> Fev 2023 - [Dezembro de 2026]</h5>
              <p><em>Faculdade São Lourenço-UNISEPE
                </em></p>
              <p>Pós-graduação em Educação Física voltada a área de hipertrofia, com carga horária de 3200 horas</p>
            </div>


            <div class='cv-item' data-anime="up">
              <h4>Grupo de pesquisa ENDOCARFE </h4>
              <h5> Fev 2023 - indefinido</h5>
              <p><em>Faculdade São Lourenço-UNISEPE
                </em></p>
              <p>Membro do Grupo de Pesquisa Interdisciplinar em Educação Física e Fisioterapia,
                com foco nos temas de Envelhecimento, Cardiopatia e Doenças Crônicas.</p>
            </div>


            <div class='cv-item' data-anime="up">
              <!-- <h4>Bacharelado em Educação Física</h4>
              <h5> Fev 2023 - [Dezembro de 2026]</h5>
              <p><em>Faculdade São Lourenço-UNISEPE
                </em></p>
              <p></p> -->
            </div>
          </div>


          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>

            <div class='cv-item' data-anime="up">
              <h4>Experiência em Recreação:</h4>
              <h5> 17/03/2023 a 31/05/2023</h5>
              <p><em>Instituição Casa Lar
                </em></p>
              <p>Participação ativa em trabalho social de recreação com crianças, contribuindo para o
                desenvolvimento motor e social dos participantes.
              </p>
            </div>

            <div class='cv-item' data-anime="up">
              <h4>1º campeonato interno de futsal</h4>
              <h5> 2023 </h5>
              <p><em>Faculdade São Lourenço-UNISEPE
                </em></p>
              <p>Participação do evento "1 campeonato interno de futsal da Faculdade São Lourenço"
                como integrante da staff e arbitragem em futsal.</p>
            </div>

            <div class='cv-item' data-anime="up">
              <h4>Primeira etapa do Circuito Fibra de </h4>
              <h4>Corridas 2023</h4>
              <h5> 2023</h5>
              <p><em>Circuito Fibra de Corridas
                </em></p>
              <p>Staff no evento "Circuito Fibra de Corridas 2023" Totalizando 20 horas
                extracurriculares, entre reuniões e presença no dia da prova.</p>

            </div>
          </div>
        </div>


    </section>

    <section class="container mt-5" id='contato' data-anime="up">
      <div class="container pb-5">
        <div class="banners-titulo bg-body-secondary text-center">
          <h2 class="pt-3 pb-4 titulo-azul">Entre em contato</h2>
        </div>
        <div class="contact-box">

          <form action='/send' method="POST">
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone (DDD + Número)</label>
              <input type="tel" class="form-control" id="telefone" name="telefone" pattern="[0-9]{2}[0-9]{8,9}"
                placeholder="Digite seu telefone" required>
              <small>Formato: DDD + Número (ex: 11987654321)</small>
            </div>
            <div class="mb-3">
              <label for="assunto" class="form-label">Assunto</label>
              <input type="text" class="form-control" id="assunto" name="assunto" placeholder="Digite o assunto"
                required>
            </div>
            <div class="mb-3">
              <label for="mensagem" class="form-label">Mensagem</label>
              <textarea class="form-control" id="mensagem" name="mensagem" rows="5" placeholder="Digite sua mensagem"
                required></textarea>
            </div>
            <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar</button>

            <button id="btn-enviar-load" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
              <span role="status">Enviando...</span>
            </button>
          </form>
        </div>
      </div>

    
    </section>

    <section data-anime="left">
      <div class="container pb-5">
        <div class="banners-titulo bg-body-secondary text-center">
          <h2 class="pt-3 pb-4 titulo-azul">Ou entre em contato pelas redes sociais</h2>
        </div>
        <div class="row background-section">
          <div class="col-md-4 d-flex flex-column">
            <h1 class="text-center">Leozin na área</h1>
            <p class="text-center">Quer ficar grande sem precisar tomar o suco? Então você está no lugar correto</p>
          </div>
          <div class="col-md-4 d-flex flex-column">
            <h1 class="text-center">Institucional</h1>
            <ul class="list-unstyled text-center">

              <li>
                <a href="mailto:leonardohenriquealves.05@gmail.com" class="social-icon editar-redes" id="email-link">
                  <i class="bi bi-envelope"></i>
                </a>
              </li>
              <div id="copied-email-message" style="display: none;">Seu e-mail foi copiado!</div>

              <li>
                <a href="#" class="social-icon editar-redes" id="phone-icon">
                  <i class="bi bi-telephone"></i>
                </a>
              </li>

              <div id="copied-phone-message" style="display: none;">Seu número foi copiado!</div>

              <li><a
                  href="https://api.whatsapp.com/send?phone=553588577680&text=Bom%20dia,%20gostaria%20de%20saber%20sobre%20os%20planos."
                  target="_blank" class="social-icon editar-redes"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
          </div>

          <div class="col-md-4 d-flex flex-column">
            <h1 class="text-center">Siga-nos</h1>
            <ul class="list-unstyled text-center ">
              <li><a href="https://www.instagram.com/leonardoalves_05/" target="_blank"
                  class="social-icon editar-redes"><i class="bi bi-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/inleonardo-alves-003404283/" target="_blank"
                  class="social-icon editar-redes"><i class="bi bi-linkedin"></i></a></li>
              <li><a href="https://www.threads.net/@leonardoalves_05" target="_blank"
                  class="social-icon editar-redes"><i class="bi bi-share"></i></a></li>
            </ul>
          </div>

          <!-- <footer id="footer">
            <div class="container">
              <div class="text-center">
                <div class="text-center">
                  <p>Copyright &copy; 2023 by <a href="https://www.linkedin.com/in/gabriel-victor-a27570260/" target="_blank" style="text-decoration: none;">Gabriel Victor</a> | Todos os Direitos Reservados</p>
              </div>
              
              </div>
        
          </footer>
        </div> -->
        </div>
      </div>
      </div>
    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
        <div class="text-center">
          <p>Copyright &copy; 2023 by <a href="https://www.linkedin.com/in/gabriel-victor-a27570260/" target="_blank" style="text-decoration: none;">Gabriel Victor</a> | Todos os Direitos Reservados</p>
      </div>
      
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <script src="../static/bootstrap/script.js"></script>
</body>

</html>