body {
  --bege: #E6E0D6;
  --marrom-escuro: #BA704F;
  --marrom-claro: #B29463;
  --branco: #fff;
  --curriculo-cor-1: #050d18;
  --curriculo-cor-2: #1f5297;
  --curriculo-cor-3: #e4edf9;
  --azul-titulo: #6EC1E4;
  --cor-de-fundo: #e4edf9;
  font-family: 'Barlow', sans-serif;
  height: 4000px;
}

.cor-de-fundo{
  background-color: #E9ECEF;
}

.banners-titulo {
  background-color: var(--cor-de-fundo) !important; /* Defina a cor de fundo desejada */
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  width: 12px;
  box-shadow: inset 0 0 .3rem #00000050;
  background-color: var(--branco);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--marrom-claro);
  border-radius: 15%;
}

.divider {
  width: 50%;
  height: 2px;
  background-color: var(--marrom-escuro);
  margin-top: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: var(--bege);
  color: var(--branco);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.titulo-azul {
  color: var(--azul-titulo);
}
/* 
@media (max-width: 480px) {
 .navbar-brand {
   display: none;
  }
} */

[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}


[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
}


[data-anime="right"] {
  transform: translate3d(-100%, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0) ;
}

.dropdown-menu li::marker {
  content: ""; /* Isso remove o marcador padrão */
  /* Adicione outros estilos desejados aqui */
}

.text-edit {
  color: var(--marrom-claro);
  font-size: 30px;
}

.h3-diminuir {
  font-size: 20px;
}

.h3-aumentar {
  font-size: 40px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 19px;
}

p {
  font-size: 21px;
}

.contact-box {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
  max-width: 70%; 
  margin: 0 auto; 
}

.contact-box input,
.contact-box textarea {
  max-width: 100%;
}

.form-control {
  border-radius: 30px;
}

.distancia {
  margin-top: 100px;
}

