@import "./estilos.css";

.contact-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    max-width: 50%; 
    margin: 0 auto; 
}

.contact-box input,
.contact-box textarea {
    max-width: 100%;
}

.form-control {
    border-radius: 30px;
}

